@font-face {
    font-family: "Pixelar";
    src: url("/path/to/pixelar.woff2") format("woff2");
}

.hover-info-container {
    position: fixed;
    top: 1rem;
    left: 1rem;
    bottom: 1rem;
    /* margin: 1rem; */
    width: 40%;
    /* height: calc(100%-2rem); */
    padding: 1.5rem;
    background: #f8f8f8;
    box-shadow: -4px 0 6px rgba(0, 0, 0, 0.1);
    border-left: 1px solid #e5e7eb;
    z-index: 50;
    font-family: "Pixelar", monospace;
    overflow-y: auto;
    text-align: left;
}

.hover-info-title {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.hover-info-content {
    font-size: 1rem;
    font-family: "Pixelar", monospace;
    white-space: pre-wrap;
}

.hover-info-fallback {
    padding: 1rem;
}
